/*Media Quaries*/
@media (max-width: 1349px){
	#home { 
	  background: url('https://unsplash.imgix.net/27/perspective.jpg?q=75&fm=jpg&auto=format&s=6baebf9e4be2259da2b0f9dd96140704') 50% 0 repeat fixed; min-height: 100%; 
	  height: 1000px; 
	  margin: 0 auto; 
	  width: 100%; 
	  max-width: auto; 
	  position: relative; 
	  background-repeat: no-repeat;
	  background-size: 100%;
	  max-width:100%;

	}
	#name{
    font-size: 1.9em; 
  }
}
@media (max-width: 320px){
	/*Parallax resize*/
	#home{
		margin: 0 auto;
 		width: 100%;
 		font-size: 200%;
 		background: url('https://unsplash.imgix.net/27/perspective.jpg?q=75&fm=jpg&auto=format&s=6baebf9e4be2259da2b0f9dd96140704') 100% 0 repeat fixed; 
 		background-repeat:no-repeat;
		-webkit-background-size:cover;
		-moz-background-size:cover;
		-o-background-size:cover;
		background-size:cover;
		background-position:center;
 		max-height: 568px;  
	}
	#about{
		margin: 0 auto;
 		width: 100%;
 		font-size: 200%;
 		background: url('https://unsplash.imgix.net/42/cA4aKEIPQrerBnp1yGHv_IMG_9534-3-2.jpg?q=75&fm=jpg&auto=format&s=80bf9ef0bce8d84970fc21e221718f8e') 50% 0 repeat fixed; min-height: 586px; 
 		max-height: 568px;  
	}
	#about2{
		margin: 0 auto;
 		width: 100%;
 		font-size: 200%;
 		background: url('https://unsplash.imgix.net/19/desktop.JPG?q=75&fm=jpg&auto=format&s=66b82c81cfed8cf57ded7b935e98e000') 50% 0 repeat fixed; min-height: 586px; 
 		max-height: 568px;  
	}

	/*title resizing*/
	#name{
		margin: 0 auto;
		width: 50%;
		height: 284px;
	}
	#NP{
		font-size: 10px;
		text-align: center;
	}
	#NP2{
		font-size: 10px;
		text-align: center;
	}
	#NP4{
		font-size: 10px;
		text-align: center;
	}
	#audio{
		width: 100%;
	}

}


/*Parallax coding*/
#home { 
  background: url('https://unsplash.imgix.net/27/perspective.jpg?q=75&fm=jpg&auto=format&s=6baebf9e4be2259da2b0f9dd96140704') 50% 0 repeat fixed; min-height: 100%; 
  height: 1000px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: auto; 
  position: relative; 
  background-repeat: no-repeat;
  background-size: 100%;
  max-width:100%;

}
  
#about { 
  background: url('https://unsplash.imgix.net/42/cA4aKEIPQrerBnp1yGHv_IMG_9534-3-2.jpg?q=75&fm=jpg&auto=format&s=80bf9ef0bce8d84970fc21e221718f8e') 50% 0 repeat fixed; min-height: 100px; 
  height: 1000px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: auto; 
  position: relative; 
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  background-repeat: no-repeat;
  background-size: 100%;
  max-width:100%;
}
 #about2 { 
  background: url('https://unsplash.imgix.net/19/desktop.JPG?q=75&fm=jpg&auto=format&s=66b82c81cfed8cf57ded7b935e98e000') 50% 0 repeat fixed; min-height: 1000px; 
  height: 1000px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  background-repeat: no-repeat;
  background-size: 100%;
  max-width:100%;
}

/*Title Style*/
#Marg{
	padding-bottom: 100px;
}
#name{
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
	padding-top: 30px;
	opacity: 0.5; 
	background-color: black;
}
#NP{
	font-family: 'Coming Soon', cursive;
	font-size: 35px;
	text-align: center;
	color: white;
	padding-top: 20px;
	padding-bottom: 35px;
}
#NP2{
	font-family: 'Coming Soon', cursive;
	font-size: 32px;
	text-align: center;
	color: white;
}
#NP3{
	font-family: 'Coming Soon', cursive;
	font-size: 35px;
	text-align: center;
	color: white;
}
#NP4{
	font-family: 'Coming Soon', cursive;
	font-size: 65px;
	text-align: center;
	color: white;
}

/*About Me styles*/
#Marg2{
	padding-bottom: 100px;
}
#aboutMe{
	text-align: center;
	color: white;
	padding-top: 10px;
	padding-bottom: 40px;
	padding-right: 60px;
	padding-left: 60px;
	background-color: black;
	margin-left: 100px;
	margin-right: 100px;
	opacity: 0.5;
	font-size: 20px;
}
#ABP{
	font-family: 'Coming Soon', cursive;
}
#AM{
	font-family: 'Coming Soon', cursive;
}

/*Interests part styling*/
.Dmodal{
	text-align: center;
	color: black;
	font-family: 'Coming Soon', cursive;
}

/*Music Modal Styling*/
#modalM{
	margin-left: 355px;
}
#M{
	text-align: center;
	color: white;
	font-family: 'Coming Soon', cursive;
}
#MP1{
	font-family: 'Coming Soon', cursive;
	font-size: 15px;
	color: white;
	padding-top: 15px;
	padding-right: 25px;
	padding-left: 25px;
}
#mPic{
	margin-left: 250px;
	margin-bottom: 20px;
}
.modal-content{
	background-image: url('http://static.tumblr.com/24e379cd337ef22ff1aecefe3d4ec8b7/z6njetl/xVUn8fvca/tumblr_static_c90bqwm0hjww4w4o44c0kgkgo.jpg');
	color: white;
	height: inherit;
	margin: 0 auto;
 	width: 100%;
}

/*Reading Styling*/
#modalB{
	margin-left: 25px;
}
#B{
	text-align: center;
	color: white;
	font-family: 'Coming Soon', cursive;
}
#BP1{
	font-family: 'Coming Soon', cursive;
	font-size: 15px;
	padding-top: 15px;
	padding-right: 25px;
	padding-left: 25px;
}
#bPic{
	margin-left: 200px;
	margin-bottom: 20px;
}

/*T.V Modal Styling*/
#modalT{
	margin-left: 25px;
}
#T{
	text-align: center;
	color: white;
	font-family: 'Coming Soon', cursive;
}
#TP1{
	font-family: 'Coming Soon', cursive;
	font-size: 15px;
	padding-top: 15px;
	padding-right: 25px;
	padding-left: 25px;
}
#tPic{
	margin-left: 200px;
	margin-bottom: 20px;
}

/*Project styling*/
#Marg3{
	padding-bottom: 50px;
}
#projects{
	font-family: 'Coming Soon', cursive;
	font-size: 25px;
	text-align: center;
	color: white;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 25px;
	padding-bottom: 40px;
	padding-top: 25px;
	opacity: 0.5;
	background-color: black;
}

#carousel-example-generic{
	margin-left: 355px;
	margin-top: 50px;
	width: 600px;
}

/*demo stuff*/
#mydiv{
	background-color: yellow;
	margin-top: 25px;
	margin-left: 20px;
	margin-right: 800px;
	font-size: 20px;
}